/* @import url("https://fonts.googleapis.com/css?family=Poppins");

:root{
    --primary: #08c;
    --secondary:#fff;
    --white:#fff;
}

html.light{
    --primary:#08c;
}
html.dark{
    --primary:#2d2d2d;
}
.ion-icon{
    color: #ffb109;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.main{
    width: 100vw;
    height: 100vh;
    background: var(--primary);
}
.img-welcome{
    width: 500px;
}
.btn-down{
    color: var(--white);
}
.button-down{
    animation: bounce .4s infinite alternate;
    margin-top: 100px;
}
@keyframes bounce {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(20px);
    }
}
 */
